@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --header-height: 64px;
}

@media screen and (max-width: 600px) {
  :root {
    --header-height: 56px;
  }
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 82rem;
  padding: 0 1rem;
  margin: 0 auto;
}