<section class="movie">
  <div class="movie__poster">
    <img
      *ngIf="movie.poster_path; else noImage"
      [src]="posterPath + movie.poster_path"
      [alt]="movie.title"
    />

    <ng-template #noImage>
      <img src="./assets/images/blank.png" [alt]="movie.title" />
      <mat-icon>image</mat-icon>
    </ng-template>
  </div>

  <div class="movie__content">
    <div class="movie__group">
      <h1 class="movie__main-title">
        <a
          *ngIf="movie.homepage; else noHomepage"
          [href]="movie.homepage"
          target="_blank"
          rel="noreferrer noopener"
          class="movie__main-title-link"
          matTooltip="Go to homepage"
        >
          {{ movie.title }}
        </a>

        <ng-template #noHomepage>{{ movie.title }} </ng-template>

        <span class="movie__year" *ngIf="movie.release_date">
          ({{ movie.release_date | date : "y" }})
        </span>
      </h1>

      <span class="movie__subtitle" *ngIf="movie.tagline">{{
        movie.tagline
      }}</span>
    </div>

    <div class="movie__group" *ngIf="movie.overview">
      <h2 class="movie__title">Overview</h2>
      <p>{{ movie.overview }}</p>
    </div>

    <div class="movie__group" *ngIf="movie.genres.length">
      <h2 class="movie__title">Genres</h2>
      <p>
        <span *ngFor="let genre of movie.genres">
          {{
            movie.genres.indexOf(genre) === movie.genres.length - 1
              ? genre.name
              : genre.name + ", "
          }}
        </span>
      </p>
    </div>

    <div class="movie__group movie-list">
      <div class="movie-list__item" *ngIf="movie.release_date">
        <h4 class="movie-list__title">Release date</h4>
        <p class="movie-list__text">
          {{ movie.release_date | date : "MM/dd/y" }}
        </p>
      </div>
      <div class="movie-list__item" *ngIf="movie.runtime">
        <h4 class="movie-list__title">Runtime</h4>
        <p class="movie-list__text">{{ movie.runtime | time }}</p>
      </div>
      <div class="movie-list__item" *ngIf="movie.status">
        <h4 class="movie-list__title">Status</h4>
        <p class="movie-list__text">{{ movie.status }}</p>
      </div>
      <div class="movie-list__item" *ngIf="movie.original_title">
        <h4 class="movie-list__title">Original title</h4>
        <p class="movie-list__text">{{ movie.original_title }}</p>
      </div>
      <div class="movie-list__item" *ngIf="movie.budget">
        <h4 class="movie-list__title">Budget</h4>
        <p class="movie-list__text">{{ movie.budget | currency }}</p>
      </div>
      <div class="movie-list__item" *ngIf="movie.revenue">
        <h4 class="movie-list__title">Revenue</h4>
        <p class="movie-list__text">{{ movie.revenue | currency }}</p>
      </div>
    </div>
  </div>
</section>
