<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <a routerLink="/" class="logo" mat-button>VMTV</a>

    <span class="spacer"></span>

    <ng-container *ngIf="!isTablet">
      <a routerLink="/discover/movie" mat-button data-testid="nav-link"
        >Movies</a
      >
      <a routerLink="/discover/tv" mat-button data-testid="nav-link"
        >TV Shows</a
      >
    </ng-container>

    <button
      type="button"
      mat-icon-button
      (click)="toggleInput()"
      matTooltip="Search"
      data-testid="search-button"
    >
      <mat-icon>search</mat-icon>
    </button>

    <button
      type="button"
      mat-icon-button
      (click)="toggleDrawer.emit()"
      data-testid="menu-button"
      *ngIf="isTablet"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="show" data-testid="search">
    <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>
