<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <a routerLink="/" class="logo" mat-button>VMTV</a>

    <span class="spacer"></span>

    <ng-container *ngIf="!isTablet">
      <a routerLink="/discover/movie" mat-button>Movies</a>
      <a routerLink="/discover/tv" routerLinkActive="mat-accent" mat-button>
        TV Shows
      </a>
    </ng-container>

    <button
      type="button"
      mat-icon-button
      (click)="showSearchInput()"
      matTooltip="Search"
    >
      <mat-icon>search</mat-icon>
    </button>

    <button
      type="button"
      mat-icon-button
      (click)="toggleDrawer.emit()"
      *ngIf="isTablet"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="show">
    <app-search></app-search>
  </mat-toolbar-row>
</mat-toolbar>
