<section class="info">
  <div class="info__poster">
    <app-image-enlarger
      *ngIf="tv.poster_path; else noImage"
      [imgSrc]="posterPath + tv.poster_path"
      [alt]="tv.name"
      [largeImgSrc]="original + tv.poster_path"
    ></app-image-enlarger>

    <ng-template #noImage>
      <img [src]="'../../../assets/images/blank-image.jpg'" [alt]="tv.name" />
    </ng-template>
  </div>

  <div class="info__content">
    <div class="info__group">
      <h1 class="info__main-title">
        <a
          *ngIf="tv.homepage; else noHomepage"
          [href]="tv.homepage"
          target="_blank"
          rel="noreferrer noopener"
          class="info__main-title-link"
          matTooltip="Go to homepage"
        >
          {{ tv.name }}
        </a>

        <ng-template #noHomepage>{{ tv.name }} </ng-template>

        <span class="info__year" *ngIf="tv.first_air_date && tv.last_air_date"
          >({{ tv.first_air_date | date : "y" }}
          -
          {{ tv.last_air_date | date : "y" }})</span
        >
      </h1>

      <i *ngIf="tv.tagline">{{ tv.tagline }}</i>
    </div>

    <div class="info__group" *ngIf="tv.overview">
      <h2 class="info__title title">Overview</h2>
      <p>{{ tv.overview }}</p>
    </div>

    <div class="info__group" *ngIf="tv.genres.length">
      <h2 class="info__title title">Genres</h2>
      <p>
        <span *ngFor="let genre of tv.genres">
          {{
            tv.genres.indexOf(genre) === tv.genres.length - 1
              ? genre.name
              : genre.name + ", "
          }}
        </span>
      </p>
    </div>

    <ul class="info__group info-list">
      <li class="info-list__item" *ngIf="tv.first_air_date">
        <h4 class="info-list__title">First air date</h4>
        <p class="info-list__text">
          {{ tv.first_air_date | date : "MM/dd/y" }}
        </p>
      </li>
      <li class="info-list__item" *ngIf="tv.last_air_date">
        <h4 class="info-list__title">Last air date</h4>
        <p class="info-list__text">{{ tv.last_air_date | date : "MM/dd/y" }}</p>
      </li>
      <li class="info-list__item" *ngIf="tv.status">
        <h4 class="info-list__title">Status</h4>
        <p class="info-list__text">{{ tv.status }}</p>
      </li>
      <li class="info-list__item" *ngIf="tv.number_of_episodes">
        <h4 class="info-list__title">Episodes</h4>
        <p class="info-list__text">{{ tv.number_of_episodes }}</p>
      </li>
      <li class="info-list__item" *ngIf="tv.number_of_seasons">
        <h4 class="info-list__title">Seasons</h4>
        <p class="info-list__text">{{ tv.number_of_seasons }}</p>
      </li>
    </ul>
  </div>
</section>

<section class="similar" *ngIf="tv.similar && tv.similar.results.length">
  <h2 class="similar__title title">Similar</h2>

  <div class="similar__slider">
    <app-slider
      *ngIf="slides$ | async as slides"
      [gap]="16"
      [slidesPerView]="slides"
      [slidesToScroll]="slides"
      [prevBtn]="prev._elementRef"
      [nextBtn]="next._elementRef"
    >
      <app-slide *ngFor="let tv of tv.similar.results">
        <a
          [routerLink]="['/details', 'tv', tv.id]"
          [queryParams]="{
            language: language && language !== 'xx' ? language : undefined
          }"
          [matTooltip]="tv.name"
          matTooltipShowDelay="500"
        >
          <img
            mat-card-image
            [src]="
              tv.poster_path
                ? posterPath + tv.poster_path
                : '../../../assets/images/blank-image.jpg'
            "
            [alt]="tv.name"
            appLazyImg
          />
        </a>
      </app-slide>
    </app-slider>

    <button
      type="button"
      mat-mini-fab
      color="primary"
      class="similar__slide-btn similar__slide-btn--prev"
      #prev
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button
      type="button"
      mat-mini-fab
      color="primary"
      class="similar__slide-btn similar__slide-btn--next"
      #next
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</section>

<mat-accordion *ngIf="tv.reviews && tv.reviews.total_results > 0">
  <mat-expansion-panel (opened)="opened = true" (closed)="opened = false">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ opened ? "Hide" : "Show" }} reviews</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="reviews-grid">
      <app-review-card
        *ngFor="let review of tv.reviews.results"
        [review]="review"
      ></app-review-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
