<ng-container *ngIf="res$ | async as res">
  <app-movie-details
    *ngIf="res.movie as movie"
    [movie]="movie"
    [posterPath]="posterPath"
    [language]="language"
    [slides$]="slides$"
  ></app-movie-details>

  <app-tv-details
    *ngIf="res.tv as tv"
    [tv]="tv"
    [posterPath]="posterPath"
    [language]="language"
    [slides$]="slides$"
  >
  </app-tv-details>

  <app-person-details
    *ngIf="res.person as person"
    [person]="person"
    [profilePath]="profilePath"
    [slides$]="slides$"
  ></app-person-details>
</ng-container>
