<section class="info">
  <div class="info__poster">
    <app-image-enlarger
      *ngIf="person.profile_path; else noImage"
      [imgSrc]="profilePath + person.profile_path"
      [alt]="person.name"
      [largeImgSrc]="original + person.profile_path"
    ></app-image-enlarger>

    <ng-template #noImage>
      <img
        [src]="'../../../assets/images/blank-image.jpg'"
        [alt]="person.name"
        data-testid="no-image"
      />
    </ng-template>
  </div>

  <div class="info__content">
    <div class="info__group">
      <h1 class="info__main-title" data-testid="main-title">
        <a
          *ngIf="person.homepage; else noHomepage"
          [href]="person.homepage"
          target="_blank"
          rel="noreferrer noopener"
          class="info__main-title-link"
          matTooltip="Go to homepage"
          data-testid="main-title-link"
        >
          {{ person.name }}
        </a>

        <ng-template #noHomepage>
          <span data-testid="main-title-inner">{{ person.name }}</span>
        </ng-template>
      </h1>
    </div>

    <div class="info__group" *ngIf="person.biography">
      <h2 class="info__title title">Biography</h2>
      <p data-testid="biography">{{ person.biography }}</p>
    </div>

    <div class="info__group" *ngIf="person.also_known_as.length">
      <h2 class="info__title title">Also known as</h2>
      <p data-testid="also-known-as">
        <span *ngFor="let value of person.also_known_as">{{
          person.also_known_as.indexOf(value) ===
          person.also_known_as.length - 1
            ? value
            : value + "; "
        }}</span>
      </p>
    </div>

    <ul class="info__group info-list">
      <li class="info-list__item" *ngIf="person.birthday">
        <h4 class="info-list__title">Birthday</h4>
        <p class="info-list__text" data-testid="birthday">
          {{ person.birthday | date : "dd/MM/y" }}
        </p>
      </li>
      <li class="info-list__item" *ngIf="person.deathday">
        <h4 class="info-list__title">Deathday</h4>
        <p class="info-list__text" data-testid="deathday">
          {{ person.deathday | date : "dd/MM/y" }}
        </p>
      </li>
      <li class="info-list__item" *ngIf="person.place_of_birth">
        <h4 class="info-list__title">Place of birth</h4>
        <p class="info-list__text" data-testid="place-of-birth">
          {{ person.place_of_birth }}
        </p>
      </li>
      <li class="info-list__item" *ngIf="person.gender">
        <h4 class="info-list__title">Gender</h4>
        <p class="info-list__text" data-testid="gender">
          {{ person.gender === 1 ? "Female" : "Male" }}
        </p>
      </li>
      <li class="info-list__item" *ngIf="person.known_for_department">
        <h4 class="info-list__title">Known for department</h4>
        <p class="info-list__text" data-testid="known-for-department">
          {{ person.known_for_department }}
        </p>
      </li>
    </ul>
  </div>
</section>

<section
  class="images"
  *ngIf="person.images && person.images.profiles.length"
  data-testid="images"
>
  <h2 class="images__title title">Images</h2>

  <div class="images__slider">
    <app-slider
      *ngIf="slides$ | async as slides"
      [gap]="16"
      [prevBtn]="prev._elementRef"
      [nextBtn]="next._elementRef"
      [slidesPerView]="slides"
      [slidesToScroll]="slides"
    >
      <app-slide *ngFor="let image of person.images.profiles">
        <app-image-enlarger
          [imgSrc]="
            image.file_path
              ? imagePath + image.file_path
              : '../../../assets/images/blank-image.jpg'
          "
          [alt]="person.name"
          [largeImgSrc]="
            image.file_path ? original + image.file_path : undefined
          "
        ></app-image-enlarger>
      </app-slide>
    </app-slider>

    <button
      type="button"
      mat-mini-fab
      color="primary"
      class="images__slide-btn images__slide-btn--prev"
      #prev
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button
      type="button"
      mat-mini-fab
      color="primary"
      class="images__slide-btn images__slide-btn--next"
      #next
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</section>
