<mat-drawer-container autosize hasBackdrop="true">
  <mat-drawer-content>
    <div class="wrapper">
      <app-loader></app-loader>

      <app-header
        (toggleDrawer)="drawer.toggle()"
        [isTablet]="isTablet"
      ></app-header>

      <main class="main">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </main>

      <app-footer></app-footer>
    </div>
  </mat-drawer-content>

  <mat-drawer mode="over" position="end" [opened]="opened" #drawer>
    <app-sidebar (closeDrawer)="drawer.close()"></app-sidebar>
  </mat-drawer>
</mat-drawer-container>
