<mat-sidenav-container autosize hasBackdrop="true">
  <mat-sidenav-content>
    <div class="wrapper">
      <app-loader></app-loader>

      <app-header
        (toggleDrawer)="toggleDrawer()"
        [isTablet]="isTablet"
      ></app-header>

      <main class="main">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </main>

      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>

  <mat-sidenav
    mode="over"
    position="end"
    [opened]="openDrawer"
    *ngIf="isTablet"
  >
    <app-sidebar (closeDrawer)="closeDrawer()"></app-sidebar>
  </mat-sidenav>
</mat-sidenav-container>
