<section class="discover">
  <mat-accordion class="discover-aside">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Discover</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field
        *ngIf="sortByList$ | async as sortByList"
        class="discover-aside__select"
      >
        <mat-label>Sort by</mat-label>

        <mat-select [formControl]="sortByControl">
          <mat-option *ngFor="let item of sortByList" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-chip-listbox
        multiple
        [formControl]="genreControl"
        *ngIf="genresList$ | async as genres"
        class="discover-aside__genres"
      >
        <mat-chip-option
          *ngFor="let genre of genres"
          color="primary"
          [value]="genre.id.toString()"
        >
          {{ genre.name }}
        </mat-chip-option>
      </mat-chip-listbox>

      <mat-slide-toggle
        [formControl]="includeAdultControl"
        class="discover-aside__toggler"
      >
        Include adult
      </mat-slide-toggle>

      <mat-form-field
        *ngIf="sharedService.languages$ | async as languages"
        class="discover-aside__language"
      >
        <mat-label>Language</mat-label>

        <mat-select [formControl]="languageControl">
          <mat-option
            *ngFor="let language of languages"
            [value]="language.iso_639_1"
          >
            {{ language.english_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <h3 class="discover-aside__title">Vote average</h3>

        <mat-slider
          min="0"
          max="10"
          step="1"
          class="discover-aside__slide"
          discrete
        >
          <input matSliderStartThumb [formControl]="voteMinControl" />
          <input matSliderEndThumb [formControl]="voteMaxControl" />
        </mat-slider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-container *ngIf="res$ | async as res">
    <div class="discover__content" *ngIf="res.tvs && res.tvs.total_results > 0">
      <div class="discover__grid">
        <app-media-card
          *ngFor="let tv of res.tvs.results; trackBy: mediaTrackBy"
          [title]="tv.name"
          [mediaType]="mediaType"
          [imagePath]="tv.poster_path"
          [voteAverage]="tv.vote_average"
          [releaseDate]="tv.first_air_date"
          [id]="tv.id"
          [language]="languageControl.value"
        ></app-media-card>
      </div>

      <mat-paginator
        *ngIf="res.tvs.total_pages > 1"
        [length]="res.tvs.total_results"
        [pageSize]="pageSize"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
        [pageIndex]="filters.page - 1"
      ></mat-paginator>
    </div>

    <div
      class="discover__content"
      *ngIf="res.movies && res.movies.total_results > 0"
    >
      <div class="discover__grid">
        <app-media-card
          *ngFor="let movie of res.movies.results; trackBy: mediaTrackBy"
          [title]="movie.title"
          [mediaType]="mediaType"
          [imagePath]="movie.poster_path"
          [voteAverage]="movie.vote_average"
          [releaseDate]="movie.release_date"
          [id]="movie.id"
          [language]="languageControl.value"
        ></app-media-card>
      </div>

      <mat-paginator
        *ngIf="res.movies.total_pages > 1"
        [length]="res.movies.total_results"
        [pageSize]="pageSize"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
        [pageIndex]="filters.page - 1"
      ></mat-paginator>
    </div>
  </ng-container>

  <mat-card *ngIf="noResult">
    <mat-card-content>
      <mat-card-title>There are no results for this request</mat-card-title>
    </mat-card-content>
  </mat-card>
</section>
