:host {
  display: block;
  width: 100%;
}

.slider {
  overflow: hidden;

  &__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    scroll-snap-type: x mandatory;

    &.dragging {
      user-select: none;
      scroll-snap-type: none;
      cursor: grab;
    }
  }
}
