@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  position: relative;
}

.main {
  flex: 1 0 auto;
  padding: 1rem 0;
}

.container {
  max-width: 82rem;
  padding: 0 1rem;
  margin: 0 auto;
}
