@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  position: relative;
}

.main {
  flex: 1 0 auto;
  padding: 2rem 0;
}

.container {
  max-width: 82rem;
  padding: 0 1rem;
  margin: 0 auto;
}

// Media details
.title {
  line-height: 1.2;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.info {
  display: flex;
  gap: 1rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__poster {
    flex: 0 1 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  &__content {
    flex: 0 1 70%;
  }

  &__main-title {
    font-weight: 700;
    font-size: 2rem;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__main-title-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }

  &__subtitle {
    font-style: italic;
  }

  &__year {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
  }
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &__title {
    font-weight: 700;
  }

  &__text {
    margin: 0;
  }
}

.similar:not(:last-child),
.images:not(:last-child) {
  margin-bottom: 1rem;
}

.reviews-grid {
  display: grid;
  width: 100%;
  gap: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
