<!-- <section class="search" *ngIf="shows && shows.total_results > 0; else noShows">
  <h1>Search</h1>

  <div class="search-grid">
    <app-show-card
      *ngFor="let show of shows.results"
      [show]="show"
      class="show-card"
    ></app-show-card>
  </div>
</section> -->

<!-- <ng-template #noShows>
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-card-title>
        There are no movies that matched your query.
      </mat-card-title>
    </mat-card-content>
  </mat-card>
</ng-template> -->

<section class="search">
  <aside class="search-aside">
    <mat-card class="search-aside__card">
      <mat-card-header>
        <mat-card-title class="search-aside__title"
          >Search Results</mat-card-title
        >
      </mat-card-header>

      <mat-card-actions>
        <mat-button-toggle-group
          vertical
          class="search-aside__group"
          [formControl]="mediaTypeControl"
        >
          <mat-button-toggle value="tv">TV Shows</mat-button-toggle>
          <mat-button-toggle value="movie">Movies</mat-button-toggle>
          <mat-button-toggle value="person">People</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-card-actions>
    </mat-card>
  </aside>

  <div class="search-content" *ngIf="response$ | async as response">
    <div *ngIf="response.movies as movies">
      <div *ngFor="let movie of movies.results">{{ movie.title }}</div>

      <mat-paginator
        [length]="movies.total_results"
        [pageSize]="pageSize"
        hidePageSize
        (page)="handlePageEvent($event)"
        aria-label="Select page"
        *ngIf="movies.total_pages > 1"
      ></mat-paginator>
    </div>

    <div *ngIf="response.tvs as tvs">
      <div *ngFor="let tv of tvs.results">{{ tv.name }}</div>

      <mat-paginator
        [length]="tvs.total_results"
        [pageSize]="pageSize"
        hidePageSize
        (page)="handlePageEvent($event)"
        aria-label="Select page"
        *ngIf="tvs.total_pages > 1"
      ></mat-paginator>
    </div>

    <div *ngIf="response.people as people">
      <div *ngFor="let person of people.results">{{ person.name }}</div>

      <mat-paginator
        [length]="people.total_results"
        (page)="handlePageEvent($event)"
        hidePageSize
        [pageSize]="pageSize"
        aria-label="Select page"
        *ngIf="people.total_pages > 1"
      ></mat-paginator>
    </div>

    <!-- <div
      *ngIf="movies && movies.total_results > 0 && currentMediaType === 'movie'"
    >
      <div *ngFor="let movie of movies.results">{{ movie.title }}</div>

      <mat-paginator
        [length]="movies.total_pages"
        [pageSize]="movies.results.length"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      ></mat-paginator>
    </div>
    <div *ngIf="tvs && tvs.total_results > 0 && currentMediaType === 'tv'">
      <div *ngFor="let tv of tvs.results">{{ tv.name }}</div>

      <mat-paginator
        [length]="tvs.total_pages"
        [pageSize]="tvs.results.length"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      ></mat-paginator>
    </div>
    <div
      *ngIf="
        people && people.total_results > 0 && currentMediaType === 'person'
      "
    >
      <div *ngFor="let person of people.results">{{ person.name }}</div>

      <mat-paginator
        [length]="people.total_pages"
        [pageSize]="people.results.length"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      ></mat-paginator>
    </div> -->
  </div>
</section>
