<section class="search" *ngIf="shows && shows.total_results > 0; else noShows">
  <h1>Search</h1>

  <div class="search-grid">
    <app-show-card
      *ngFor="let show of shows.results"
      [show]="show"
      class="show-card"
    ></app-show-card>
  </div>
</section>

<ng-template #noShows>
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-card-title>
        There are no movies that matched your query.
      </mat-card-title>
    </mat-card-content>
  </mat-card>
</ng-template>
