<!-- <app-slider
  [nextBtn]="slideNext"
  [prevBtn]="slidePrev"
  [slidesPerView]="5"
  [gap]="16"
  [speed]="350"
  [slidesToScroll]="5"
  *ngIf="movies$ | async as movies"
>
  <app-slide *ngFor="let movie of movies.results">
    <img
      [src]="posterPath + movie.poster_path"
      alt=""
      style="max-width: 100%"
    />
  </app-slide>
</app-slider>

<button type="button" #slidePrev>Prev</button>
<button type="button" #slideNext>Next</button> -->

<section class="home">
  <h1 class="home__main-title">
    Welcome to VMTV - Your Ultimate Destination for Movie Enthusiasts!
  </h1>

  <div class="home__content">
    <div class="home__box">
      <h2 class="home__title">Popular movies</h2>

      <div class="home__slider">
        <app-slider
          [prevBtn]="slidePrev._elementRef"
          [nextBtn]="slideNext._elementRef"
          [slidesPerView]="slidesValue"
          [gap]="16"
          [speed]="350"
          [slidesToScroll]="slidesValue"
          *ngIf="popularMovies$ | async as movies"
        >
          <app-slide *ngFor="let movie of movies.results">
            <app-media-card
              [imagePath]="movie.poster_path"
              [mediaType]="'movie'"
              [id]="movie.id"
              [title]="movie.title"
              [titleSize]="16"
            ></app-media-card>
          </app-slide>
        </app-slider>

        <button
          type="button"
          #slidePrev
          mat-fab
          color="primary"
          class="home__slide-btn home__slide-btn--prev"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button
          type="button"
          #slideNext
          mat-fab
          color="primary"
          class="home__slide-btn home__slide-btn--next"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>

        <!-- <button type="button" #slidePrev>prev</button>
        <button type="button" #slideNext>next</button> -->
      </div>
    </div>
  </div>
</section>
