@import "../../assets/scss/variables";

.greeting {
  padding: 8rem 2rem;
  background: url("../../assets/images/home-bg-min.jpg") center no-repeat,
    rgb(197, 175, 149);
  background-size: cover;
  position: relative;

  @media (max-width: $breakpoint-XS) {
    padding: 4rem 1rem;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-default;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;

    @media (max-width: $breakpoint-M) {
      font-size: 1.5rem;
    }

    @media (max-width: $breakpoint-XS) {
      font-size: 1.25rem;
    }
  }

  &__thin {
    font-size: 0.75em;
    font-weight: 400;
  }
}

.media {
  &:not(:last-child) {
    margin-bottom: $spacing-default;
  }

  &__title:not(:last-child) {
    margin-bottom: $spacing-M;
  }

  &__slider {
    position: relative;
  }

  &__slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &--prev {
      left: 1rem;

      mat-icon {
        transform: rotate((-180deg));
      }
    }

    &--next {
      right: 1rem;
    }
  }
}

.toolbar {
  &:not(:last-child) {
    margin-bottom: $spacing-default;
  }

  &__title:not(:last-child) {
    margin-right: $spacing-default;
  }
}

.spacer {
  flex: 1 1 auto;
}
