@import "../../assets/scss/variables";

.bg-box {
  padding: 8rem 2rem;
  position: relative;

  @media (max-width: $breakpoint-M) {
    padding: 7rem 2rem;
  }

  @media (max-width: $breakpoint-S) {
    padding: 5rem 1rem;
  }

  @media (max-width: $breakpoint-XS) {
    padding: 4rem 1rem;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-default;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;

    @media (max-width: $breakpoint-M) {
      font-size: 2rem;
    }

    @media (max-width: $breakpoint-S) {
      font-size: 1.5rem;
    }

    @media (max-width: $breakpoint-XS) {
      font-size: 1.25rem;
    }
  }

  &__thin {
    font-size: 0.75em;
    font-weight: 400;
  }

  &__link {
    color: $color-accent;
    transition: color 150ms ease-in-out;

    &:hover {
      color: $color-accent-dark;
    }
  }
}

.greeting {
  background: url("../../assets/images/home-bg-2-min.jpg") center no-repeat,
    rgb(197, 175, 149);
  background-size: cover;
}

.media {
  &:not(:last-child) {
    margin-bottom: $spacing-default;
  }

  &__title:not(:last-child) {
    margin-bottom: $spacing-M;
  }

  &__slider {
    position: relative;
  }

  &__slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &--prev {
      left: 1rem;

      mat-icon {
        transform: rotate((-180deg));
      }
    }

    &--next {
      right: 1rem;
    }
  }
}

.offer {
  background: url("../../assets/images/home-bg-1-min.jpg") center no-repeat,
    rgb(227, 158, 79);
  background-size: cover;

  display: flex;
  align-items: center;
  gap: $spacing-default;
  flex-wrap: wrap;
}
