<mat-card
  class="card"
  *ngIf="mediaType === 'person'; else show"
  data-testid="person-card"
>
  <a
    [routerLink]="['/details', mediaType, id]"
    [queryParams]="{
      language: language && language !== 'xx' ? language : undefined
    }"
    class="card__image-link"
  >
    <img
      mat-card-image
      [src]="
        imagePath
          ? imgUrl + imagePath
          : '../../../../assets/images/blank-image.jpg'
      "
      [alt]="title"
      class="card__image"
      appLazyImg
    />
  </a>

  <mat-card-content class="card__content">
    <a
      [routerLink]="['/details', mediaType, id]"
      [queryParams]="{
        language: language && language !== 'xx' ? language : undefined
      }"
      mat-card-title
      class="card__title"
      [style.fontSize.px]="titleSize"
      [matTooltip]="!textCut || title.length <= 30 ? '' : title"
      data-testid="title"
      >{{ textCut ? (title | textCut : 0 : textCut) : title }}</a
    >
  </mat-card-content>
</mat-card>

<ng-template #show>
  <mat-card class="card" data-testid="show-card">
    <a
      [routerLink]="['/details', mediaType, id]"
      [queryParams]="{
        language: language && language !== 'xx' ? language : undefined
      }"
      class="card__image-link"
    >
      <img
        mat-card-image
        [src]="
          imagePath
            ? imgUrl + imagePath
            : '../../../../assets/images/blank-image.jpg'
        "
        [alt]="title"
        class="card__image"
        appLazyImg
      />
    </a>

    <mat-card-content class="card__content">
      <a
        [routerLink]="['/details', mediaType, id]"
        [queryParams]="{
          language: language && language !== 'xx' ? language : undefined
        }"
        mat-card-title
        class="card__title"
        *ngIf="title"
        [style.fontSize.px]="titleSize"
        [matTooltip]="!textCut || title.length <= 30 ? '' : title"
        data-testid="title"
        >{{ textCut ? (title | textCut : 0 : textCut) : title }}</a
      >

      <div class="card__bottom">
        <span class="card__year" *ngIf="releaseDate">
          {{ releaseDate | date : "y" }}
        </span>
        <span class="card__vote" *ngIf="voteAverage">
          <mat-icon color="accent">star</mat-icon>
          {{ voteAverage | round }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
